@font-face {
  font-family: 'SofadiOne-Regular';
  src: url(SofadiOne-Regular.ttf);
}

@font-face {
  font-family: 'ProtestGuerrilla-Regular';
  src: url(ProtestGuerrilla-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.firstpage {
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: 'NerkoOne-Regular';
  src: url('NerkoOne-Regular.ttf');
}

@font-face {
  font-family: 'Maleha';
  src: url('Maleha.ttf') format('truetype');
}

.nav-link {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  margin-right: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.navbar-toggler {
  border-color: white;
  color: white;
}

.login-form {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  
    url('login4.jpg') no-repeat center center/cover;
}

.login-box {
  background-color: #2D336B;
  min-height: 60vh;
  width: 60vh;
  border-radius: 0px;
}

.login {
  font-family: 'Maleha';
  font-size: 20px;
}

.haha {
  font-family: 'Merriweather', serif;
}

.hihi {
  font-family: 'Merriweather', serif;
}

.tombol {
  font-family: 'ProtestGuerrilla-Regular';
  border: none;
}

.tombol:hover { 
  border: none;
  background-color: #b5b1b1;
  color: white;
}

.navbar-collapse {
  background: transparent;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;  
    left: 0;
    width: 100%;
    padding: 15px;
    border: none !important; 
    box-shadow: none;
  }
}

.akun {
  margin-right: 25px;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white; 
  text-decoration: none;
  padding-bottom: 5px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; 
  background-color: #A9B5DF;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%; 
}

.hlm1 {
  color: #A9B5DF;
}

.nav-link.active::after {
  width: 100%; 
  background-color: #A9B5DF;
}

.logoo {
  font-family: 'NerkoOne-Regular';
  font-size: 24px;
  margin-top: 10px;
}
