@font-face {
  font-family: 'SofadiOne-Regular';
  src: url(/Assets/SofadiOne-Regular.ttf);
}
/* Font "Sofadi One" dibuat oleh Botjo Nikoltchev
   Sumber: https://fonts.google.com/specimen/Sofadi+One*/

@font-face {
  font-family: 'ProtestGuerrilla-Regular';
  src: url(/Assets/ProtestGuerrilla-Regular.ttf);
}
/* Font "Protest Guerrilla" dibuat oleh Octavio Pardo
   Sumber: https://fonts.google.com/specimen/Protest+Guerrilla*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.firstpage {
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: 'NerkoOne-Regular';
  src: url('/Assets/NerkoOne-Regular.ttf');
}
/* Font "Nerko" (Nerko One) dibuat oleh Nermin K
   Diambil dari: https://www.dafont.com/nerko.font */

@font-face {
  font-family: 'Maleha';
  src: url('/Assets/Maleha.ttf') format('truetype');
}
/* Font "Maleha" dibuat oleh Afkari Studio.
     Diambil dari: https://www.dafont.com/maleha.font */

.nav-link {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  margin-right: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.navbar-toggler {
  border-color: white;
  color: white;
}

.login-form {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  
    url('/Assets/login81.png') no-repeat center center/cover;
}

.login-box {
  background-color: #2D336B;
  min-height: 60vh;
  width: 60vh;
  border-radius: 0px;
}

.login {
  font-family: 'Maleha';
  font-size: 20px;
}

.haha {
  font-family: 'Merriweather', serif;
}

.hihi {
  font-family: 'Merriweather', serif;
}

.tombol {
  font-family: 'ProtestGuerrilla-Regular';
  border: none;
}

.tombol:hover { 
  border: none;
  background-color: #b5b1b1;
  color: white;
}

.navbar-collapse {
  background: transparent;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;  
    left: 0;
    width: 100%;
    padding: 15px;
    border: none !important; 
    box-shadow: none;
  }
}

.akun {
  margin-right: 25px;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white; 
  text-decoration: none;
  padding-bottom: 5px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; 
  background-color: #A9B5DF;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%; 
}

.hlm1 {
  color: #A9B5DF;
}

.nav-link.active::after {
  width: 100%; 
  background-color: #A9B5DF;
}

.logoo {
  font-family: 'NerkoOne-Regular';
  font-size: 24px;
  margin-top: 10px;
}
