.kotakchatbot {
    box-shadow: 0 4px 10px #0000001a;
    display: flex;
    flex-direction: column;
    height: 90.7 vh;
    width: 100vw;
    background-color: rgb(25, 25, 25);
}

.judulchat {
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 1rem;
    border-top-left-radius: 0 10px 0 10px;
    border-top-right-radius: 10px;
}

.isichat {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pesan {
    border-radius: 15px;
    padding: 0.75rem 1rem;
    max-width: 80%;
}

.pesan.user {
    align-self: flex-end;
    background-color: gray;
    color: white;
}

.pesan.bot {
    align-self: flex-start;
    background-color: #e9ecef;
    color: #212529;
}

.inputchat {
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(25, 25, 25);
    border-top: 1px solid black;
}

.tombolsiapsaji {
    padding: 1rem;
    border-top: 1px solid black;
    color: white;
}